wheel==0.37.1
PyYAML==6.0
discord.py==1.7.3
SQLAlchemy==1.4.40
alembic==1.8.1
pytest-alembic==0.8.4
arrow==1.2.2
aiohttp==3.7.4.post0
flake8==5.0.4
pytest==7.1.2
pytest-aiohttp==0.3.0
pytest-freezegun==0.4.2
pytest-mock==3.8.2
coverage==6.4.3
